.products-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.products-container-items-ct {
    flex: 0.8;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.main-product-content {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.products-sort {
    flex: 0.2;
    display: flex;
    flex-direction: column;
}

.products-category {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    box-shadow: 0 2px 10px rgba(121, 121, 121, 0.4);
    
}

.products-category-item {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 0.2px solid rgba(155, 155, 155, 0.441);
    padding-left: 20px;
    cursor: pointer;
}

.products-category-item:hover {
    background-color: #b63b3b;
    color: #fff;
    transition: all 0.5s;
}

.products-category-item-last {
    height: 50px;
    background-color: white;
    padding-left: 20px;
}

.col-4 {
    flex-basis: 20%;
    margin: 20px;
    min-width: 200px;
    max-width: 280px;
    transition: transform 0.5s;
    box-shadow: 0 2px 10px rgba(121, 121, 121, 0.4);
    border-radius: 5px;
}

.col-4 img {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    line-height: 50px;
    color: rgb(76, 120, 190);
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: rgb(240, 75, 76);
    height: 5px;
    box-sizing: border-box;
    width: 50px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.h4 {
    color: rgb(76, 120, 190);
    font-weight: normal;
}

.col-4 p {
    cursor: pointer;
    font-size: 14px;
}

.rating {
    color: rgb(240, 75, 76);
}

.col-4:hover {
    transform: translateY(-10px);
}


h1 {
    color: rgb(240, 75, 76);
}

.page-btn {
    margin: 25px auto 25px;
    padding-top: 20px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid rgb(240, 75, 76);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover {
    color: #fff;
    background: rgb(240, 75, 76);
}
