<div class="cart">
    <div class="home-banner">
        <div class="home-banner-content"></div>
    </div>
    <h2 class="title">Giỏ Hàng Của Bạn</h2>
    <div class="cart-container cart-page">
        <table>
            <tr>
                <th>Sản Phẩm</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Số Tiền</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <div class="cart-info-tag">
                            <img src="imgs/gachLatNen.jfif" alt="" class="product-img">
                            <p class="cart-product-title">Gạch lát nền</p>
                            <br>
                            <small class="price">Gía: Liên hệ</small>
                            <br>
                            <button class="t-btn">Remove</button>
                        </div>
                    </div>
                </td>
                <td>Liên hệ</td>
                <td><input type="number" value="1" class="cart-quantity" min="1"> Số Lượng</td>
                <td>Liên Hệ</td>
            </tr>
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>Tổng Số Sản Phẩm</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Phí vận chuyển</td>
                    <td>Miễn phí</td>
                </tr>
                <tr>
                    <td>Tổng Chi Phí</td>
                    <td>Liên hệ</td>
                </tr>
            </table>
        </div>
        <div class="confirm">
            <button class="t-btn" onclick="location.href = 'products'" style="margin-right: 130px">Xem Thêm Các Sản Phẩm</button>
            <button class="t-btn" onclick="location.href = '/'">Đặt Hàng</button>
        </div>
    </div>
</div>


<script>
    // Cart Working JS
    if (document.readyState == 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready();
    }

    // Making Function
    function ready() {
        //Remove Items From Cart
        var removeCareButtons = document.getElementsByClassName('cart-remove')
        console.log(removeCartButtons)
        for (var i = 0; i < removeCartButtons.length; i++) {
            var button = removeCartButtons[i]
            button.addEventListenner('click', removeCartItem)
        }
        var quantityInputs = document.getElementsByClassNaem('cart-quantity')
        for (var i = 0; i < quantityInputs.length; i++) {
            var input = quantityInputs[i];
            input.addEventListener("change", quantityChanged);
        }
        //Add to Cart
        var addCart = document.getElementsByClassName('add-cart')
        for (var i = 0; i < addCart.length; i++) {
            var button = addCart[i]
            button.addEventListener("click", addCartClicked);
        }
        //Buy Button Worked
        document.getElementsByClassName('btn-buy')[0].addEventListener('click', buyButtonClicked);
    }
    //Buy Button
    function buyButtonClicked() {
        alert('Your Order is placed')
        var cartContent = document.getElementsByClassName('cart-contain')[0]
        while (cartContent.hasChildNodes()) {
            cartContent.removeChild(cartContent.firstChild);
        }
        updatetotal();
    }
    function removeCartItem(event) {
        var buttonClicked = event.target;
        buttonClicked.parrentElement.remove();
        updatetotal();
    }

    //Quantity Changes
    function quantityChanged(event) {
        var input = event.target
        if (isNaN(input.value) || input.value <= 0) {
            input.value = 1
        }
        updatetotal();
    }
    //Add to Cart
    function addCartClicked(event) {
        var button = event.target
        var shopProducts = button.parentElement
        var title = shopProducts.getElementsByClassName("product-title")[0].innerText;
        var price = shopProducts.getElementsByClassName("price")[0].innerText;
        var productImg = shopProducts.getElementsByClassName("product-img")[0].innerText;
        addProductToCart(title, price, productImg);
        updatetotal();
    }

    function addProductToCart(title, price, productImg) {
        var cartShopBox = document.createElement("div");
        cartShopBox.classList.add("cart-page");
        var cartItems = document.getElementsByClassName("cart-contain")[0]
        var cartItemsNames = cartItems.getElementsByClassName("cart-product-title");
        for (var i = 0; i < img cartItemsNames.length; i++) {
            if (cartItemsNames = cartItemsNames.length; i++) {
                alert("You have already add this item to cart");
                return;
            }
        }
        var cartBoxContent = '<img src = "" alt = "" class="cart-img">
            < div class = "cart-info-tag" >
                    <div class = "cart-product-detail">${title}</div >
	                <div class = "cart-price">${price}</div>
	                <input type = "number" value = "1" class = "cart-quantity">
                </>
                <i class="cart-remove"></i>';



        cartShopBox.innerHTML = CartBoxContent;
        cartItems.append(cartShopBox);
        cartShopBox.getElementsByClassName('cart-remove')[0].addEventListener("click", removeCartItem);
        cartShopBox.getElementsByClassName('cart-quantity')[0].addEventListener("change", quantityChanged);

        {{!-- // Update Total --}}
        function updatetotal() {
            var cartContent = document.getElementsByClassName('cart-contain')[0]
            var cartBoxes = cartContent.getElementsByClassName('cart-page');
            var total = 0;
            for (var i = 0; i < cartBoxes.length; i++)
                var cartBox = cartBoxes[i]
            var priceElement = cartBox.getElementsByClassName('cart-price')[0]
            var quantityElement = cartBox.getElementsByClassName('cart-quantity')[0]
            var price = parseFloat(priceElement.innerText.replace("$", ""));
            var quantity = quantityElement.value
            total = total + (price + quantity);
        }
        // If price Contain some Cents Value
        total = Math.round(total * 100) / 100;

        document.getElementsByClassName("total-price"[0].innerText = "$" + total;
    }

</script>