<div class="contact">
    <div class="home-banner">
        <div class="home-banner-content"></div>
    </div>
    <h2 class="title">Liên Hệ</h2>
    <div class="location">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.317449980147!2d106.63115501447737!3d10.863442060552812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529f4210c098b%3A0xcc10a083deb9aa92!2zMjA3IETGsMahbmcgVGjhu4sgTcaw4budaSwgVMOibiBUaOG7m2kgSGnhu4dwLCBRdeG6rW4gMTIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1646957685621!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="contact-us">
        <div class="row">
            <div class="contact-col-left">
                <div>
                    <i class="fa-solid fa-house"></i>
                    <span>
                        <h5>207 Dương Thị Mười, Phường Tân Chánh Hiệp, Quận 12, TP.HCM</h5>
                        <p>Thành phố Hồ Chí Minh, Việt Nam</p>
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <span>
                        <h5>(028)54474703 - (028)54471254</h5>
                        <p>Hotline 24/7</p>
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <span>
                        <h5>ducsonhtp@gmail.com</h5>
                        <p>Hãy gửi mail cho chúng tôi</p>
                    </span>
                </div>
            </div>
            <div class="contact-col-right">
                <form action="/contact" method="POST">
                    <input type="text" name="Name" placeholder="Họ và tên" required>
                    <input type="email" name="email" placeholder="Địa chỉ email" required>
                    <input type="text" name="subject" placeholder="Số điện thoại" required>
                    <textarea rows="8" name="message" placeholder="Ý kiến của bạn" required></textarea>
                    <button type="submit" class="t-btn">Gửi thư</button>
                </form>
            </div>
        </div>
    </div>
</div>