<div class="cusInfo">
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item nav-effect"><a href="http://localhost:5000/">Guest</a>
                                    </li>
                                    <li class="breadcrumb-item nav-effect"><a href="javascript: void(0);">Tài khoản</a>
                                    </li>
                                    <li class="breadcrumb-item active">Thông tin</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Thông tin người dùng</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">

                        <div class="card-box text-center">

                            <i class="remixicon-user-fill display-4" alt="profile-image"></i>

                            <h4 class="mb-0">Guest</h4>
                            <p class="">ducsonhtp@gmail.com</p>



                            <div class="text-left mt-3">
                                <h4 class="font-13 text-uppercase">About Me :</h4>

                                <p class="mb-2 font-13"><strong>Tên công ty</strong> <span class="ml-2">CÔNG TY TNHH
                                        THƯƠNG MẠI VÀ DỊCH VỤ HÀ THỊNH PHÁT</span></p>
                                <p class="mb-2 font-13"><strong>Địa chỉ</strong><span class="ml-2">207 Dương Thị Mười,
                                        Phường Tân Chán Hiệp, Quận 12, TP.HCM</span></p>
                                <p class="mb-2 font-13"><strong>Số điện thoại</strong><span
                                        class="ml-2">(028)54474743-(028)54471254</span></p>

                                <p class="mb-2 font-13"><strong>Website</strong> <span
                                        class="ml-2">gachoplathathinhphat.com</span></p>



                            </div>
                            <button type="button" class="t-btn"
                                onclick="location.href='/editCusInfo'">Chỉnh sửa thông tin</button>
                        </div>
                        <!-- end card-box-->

                    </div>
                    <!-- end col-->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


            <!-- container -->

        </div>
        <!-- content -->

        <!-- Footer Start -->


        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
</div>