<div class="homepage">
    <div class="main-home-banner">
        <div class="main-home-banner-content"></div>
    </div>
    <div class="home-about-us">
        <div class="home-about">TẠI SAO CHỌN CHÚNG TÔI</div>
        <div class="home-about-content">
            <div class="home-about-content-it">
                <div class="home-about-content-it-ic"><i class="fa-solid fa-user-gear"
                        style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                <div class="home-about-content-it-ct">THƯƠNG HIỆU UY TÍN</div>
                <div class="home-about-content-it-des">Đồng hành trọn đời cùng sản phẩm Chúng tôi cam kết mạnh mẽ về
                    chất lượng và gắn bó trọn đời</div>
            </div>
            <div class="home-about-content-it">
                <div class="home-about-content-it-ic"><i class="fa-solid fa-headset"
                        style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                <div class="home-about-content-it-ct">TƯ VẤN NHIỆT TÌNH</div>
                <div class="home-about-content-it-des">Hotline hoạt động 27/7, luôn sẵn sàng lắng nghe và trợ giúp
                    trong công cuộc xây dựng ngồi nhà thân yêu</div>
            </div>
            <div class="home-about-content-it">
                <div class="home-about-content-it-ic"><i class="fa-solid fa-scale-balanced"
                        style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                <div class="home-about-content-it-ct">CHẤT LƯỢNG ĐẢM BẢO</div>
                <div class="home-about-content-it-des">Chất lượng là ưu tiên hàng đầu, luôn khẳng định vị trí đứng
                    đầu trong thị trường gạch lát</div>
            </div>
            <div class="home-about-content-it">
                <div class="home-about-content-it-ic"><i class="fa-solid fa-screwdriver-wrench"
                        style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                <div class="home-about-content-it-ct">BẢO HÀNH CHU ĐÁO</div>
                <div class="home-about-content-it-des">Chăm sóc và bảo vệ tận nhà, để khách hàng có những trải
                    nghiệm dịch vụ tốt nhất</div>
            </div>
        </div>
    </div>
    <div class="home-products-preview">
        <div class="home-products">SẢN PHẨM</div>
        <div class="home-products-des">Chúng tôi cung cấp các sản phẩm gạch ốp lát chất lượng, phù hợp với nhu cầu
            đa dạng của từng khách hàng</div>
        <div class="home-products-ct">
            <div class="home-products-it">
                <div class="home-products-content-img"><img src="imgs/gachOpTuong.jpg" alt="Gạch Ốp Tường">
                </div>
                <div class="home-products-content-des" onclick="location.href ='/products'">Gạch Ốp Tường</div>
            </div>
            <div class="home-products-it">
                <div class="home-products-content-img"><img src="imgs/gachLatNen.jfif" alt="Gạch Lát Nền">
                </div>
                <div class="home-products-content-des" onclick="location.href ='/products'">Gạch Lát Nền</div>
            </div>
            <div class="home-products-it">
                <div class="home-products-content-img"><img src="imgs/gachSanNuoc.jpg" alt="Gạch Sàn Nước">
                </div>
                <div class="home-products-content-des" onclick="location.href ='/products'">Gạch Sàn Nước</div>
            </div>
            <div class="home-products-it">
                <div class="home-products-content-img"><img src="imgs/gachTrangTri.jpg"
                        alt="Gạch Trang Trí"></div>
                <div class="home-products-content-des" onclick="location.href ='/products'">Gạch Trang Trí</div>
            </div>
        </div>
    </div>
    <div class="home-contact-us">
        <div class="home-contact-img"></div>
        <div class="home-contact-it">
            <div class="home-contact">VỀ CHÚNG TÔI</div>
            <div class="home-contact-des-h1">Chào mừng Quý khách đến với Công ty TNHH Thương Mại Dịch Vụ Hà Thịnh
                Phát</div>
            <div class="home-contact-des-h2">Các lĩnh vực hoạt động kinh doanh chính của chúng tôi bao gồm sản xuất
                và kinh doanh các sản phẩm vật liệu xây dựng và trang trí nội thất; kinh doanh bất động sản, đầu tư,
                khai thác cảng biển, xây dựng và cho thuê đất trong khu công nghiệp, cho thuê nhà xưởng, đầu tư liên
                doanh, liên kết.</div>
            <button class="t-btn" onclick="location.href = '/intro'">XEM CHI TIẾT</button>
        </div>
    </div>
</div>