<div class="introduction">
    <div class="home-banner">
        <div class="home-banner-content"></div>
    </div>
    <div class="intro-content">
        <h2 class="title">Giới Thiệu</h2>
        <div class="intro-content-it">
            <div class="intro-content-img"><img src="imgs/logo-new.jpg" alt="Hà Thịnh Phát"></div>
            <div class="intro-content-des">CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ HÀ THỊNH PHÁT</div>
            <div class="intro-content-it-top">
                <div class="intro-content-it-top-left">
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">TẦM NHÌN</div>
                        <div class="intro-content-des-h2">Phát triển bền vững, mang lại hiệu quả tối đa cho nhà đầu tư
                            và điều kiện sống tốt nhất cho con người.</div>
                    </div>
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">SỨ MỆNH</div>
                        <div class="intro-content-des-h2">Đem đến những tiện ích, hiện đại sang trọng và thẩm mỹ cho
                            cộng đồng, xã hội.</div>
                    </div>
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">HOÀI BÃO</div>
                        <div class="intro-content-des-h2">Trở thành một trong những công ty hàng đầu khu vực châu Á và
                            là đối tác được biết đến bởi thị trường trong và ngoài nước.</div>
                    </div>
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">BẢN SẮC VĂN HÓA</div>
                        <div class="intro-content-des-h2">Nhân văn - đề cao giá trị con người, chung tay vì cộng đồng,
                            xã hội.</div>
                    </div>
                </div>
                <div class="intro-content-it-top-right">
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">THÁI ĐỘ ĐỒNG NGHIỆP</div>
                        <div class="intro-content-des-h2">Tôn trọng, đoàn kết, hợp tác.
                            Thẳng thắn, trung thực, học hỏi cùng phát triển nghề nghiệp.</div>
                    </div>
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">TRIẾT LÝ KINH DOANH</div>
                        <div class="intro-content-des-h2">Luôn lắng nghe, học hỏi sáng tạo, cải tiến để mang lại lợi ích
                            lớn
                            nhất cho khách hàng.
                            Minh bạch, liêm chính, uy tín trong quản lý và kinh doanh.
                            Môi trường làm việc chuyên nghiệp tạo sự gắn bó lâu dài cho cán bộ nhân viên.
                            Quan tâm có trách nhiệm với cộng đồng.</div>
                    </div>
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">THÁI ĐỘ VỚI KHÁCH HÀNG</div>
                        <div class="intro-content-des-h2">Chuyên nghiệp, trung thực và nhiệt tình.</div>
                    </div>
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">THÁI ĐỘ VỚI CÔNG VIỆC</div>
                        <div class="intro-content-des-h2">Sáng tạo, đổi mới, tự giác, chấp nhận mọi thử thách - khó
                            khăn.
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-content-it-bot">
                <div class="intro-header-content">TIÊU CHÍ CỦA CHÚNG TÔI</div>
                <div class="intro-body-content">
                    <div class="intro-content-it">
                        <div class="intro-content-it-ic"><i class="fa-solid fa-user-gear"
                                style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                        <div class="intro-content-it-ct">THƯƠNG HIỆU UY TÍN</div>
                        <div class="intro-content-it-des">Đồng hành trọn đời cùng sản phẩm Chúng tôi cam kết mạnh mẽ về
                            chất lượng và gắn bó trọn đời</div>
                    </div>
                    <div class="intro-content-it">
                        <div class="intro-content-it-ic"><i class="fa-solid fa-headset"
                                style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                        <div class="intro-content-it-ct">TƯ VẤN NHIỆT TÌNH</div>
                        <div class="intro-content-it-des">Hotline hoạt động 27/7, luôn sẵn sàng lắng nghe và trợ giúp
                            trong công cuộc xây dựng ngồi nhà thân yêu</div>
                    </div>
                    <div class="intro-content-it">
                        <div class="intro-content-it-ic"><i class="fa-solid fa-scale-balanced"
                                style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                        <div class="intro-content-it-ct">CHẤT LƯỢNG ĐẢM BẢO</div>
                        <div class="intro-content-it-des">Chất lượng là ưu tiên hàng đầu, luôn khẳng định vị trí đứng
                            đầu trong thị trường gạch lát</div>
                    </div>
                    <div class="intro-content-it">
                        <div class="intro-content-it-ic"><i class="fa-solid fa-screwdriver-wrench"
                                style="line-height: 70px; color: white; font-size: 36px;"></i></div>
                        <div class="intro-content-it-ct">BẢO HÀNH CHU ĐÁO</div>
                        <div class="intro-content-it-des">Chăm sóc và bảo vệ tận nhà, để khách hàng có những trải nghiệm
                            dịch vụ tốt nhất</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="t-btn" onclick="location.href = '/products'">SẢN PHẨM CỦA CHÚNG TÔI</button>
    </div>
</div>