<div class="news">
    <div class="home-banner">
        <div class="home-banner-content"></div>
    </div>
    <div class="news-it">
        <h2 class="title">Tin Tức</h2>
        <div class="news-box">
            <div class="news-img">
                <img src="imgs/gachLatNen.jfif" alt="" style="width: 100%; height: 300px; object-fit: cover;">
            </div>
            <div class="news-details">
                <h4>3 DÒNG GẠCH ỐP LÁT CAO CẤP HÀ THỊNH PHÁT</h4>
                <p>Gạch ốp tường cao cấp CeraArt HÀ THỊNH PHÁT được sản xuất bằng công nghệ nung 2 lần có độ bóng và độ
                    bền màu cao, chống thấm ngược. Sản phẩm được thiết kế độc đáo theo phong cách châu Âu hiện đại và
                    luôn cập nhật xu hướng thiết kế mới nhất của thị trường VLXD.</p>
                <button class="t-btn" onclick="location.href = '/intro'">Tìm Hiểu Thêm</button>
            </div>
            <h1>11-12-17</h1>
        </div>
        <div class="news-box">
            <div class="news-img">
                <img src="imgs/gachLatNen.jfif" alt="" style="width: 100%; height: 300px; object-fit: cover;">
            </div>
            <div class="news-details">
                <h4>BỘ SƯU TẬP GẠCH MEN VÀ GRANITE</h4>
                <p>Cùng với ý nghĩa phong thủy của BST, chính là tông màu xám nhạt tựa như loại đá “Thạch Anh ám khói”
                    có tác dụng bảo vệ chủ nhân tránh được những điều không may trong cuộc sống và kinh doanh. Đặc biệt,
                    BST với hoa văn ngẫu nhiên, kết hợp với lớp men mờ Baby Skin làm cho bề mặt gạch trở nên láng mịn.
                    Phù hợp với xu hướng hiện đại, mang ý nghĩa phong thủy, BST Thạch Anh là một sự lựa chọn chính xác
                    đem lại sự may mắn, sức khỏe, thịnh vượng và phát đạt.</p>
                <button class="t-btn" onclick="location.href = '/intro'">Tìm Hiểu Thêm</button>
            </div>
            <h1>23-09-18</h1>
        </div>

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>
</div>