<div class="products_details">
    <div class="home-banner">
        <div class="home-banner-content"></div>
    </div>
    <div class="products-container single-products">
        <h2>Sản Phẩm | Gạch lát nền</h2>
        <div class="products-container-row">
            <div class="col-2-img">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền" width="70%" id="ProductImg">
                {{!-- <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="imgs/gachOpTuong.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="imgs/gachLatNen.jfif" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="imgs/gachLatNen.jfif" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="imgs/gachLatNen.jfif" width="100%" class="small-img">
                    </div>
                </div> --}}
            </div>
            <div class="col-2-details">
                
                <h2>ĐÁ BÓNG KIỀNG TOÀN PHẦN 60X60 NICE</h2>
                <h4>Tên sản phẩm: Đá bóng kiềng toàn phần 60x60 NICE</h4>
                <h4>Hãng sản xuất: NICE CERAMIC</h4>
                <h4>Mã sản phẩm: LK 0166-6014 </h4>
                <h4>Xuất xứ: Việt Nam</h4>
                <h4>Tình trạng: Còn hàng</h4>
                <h4>Gía thành: Liên hệ</h4>
                <input type="number" value="1" id="quantity" name="quantity" min="1" max="5">
                <button class="t-btn" onclick="location.href = '/cart'">Thêm vào giỏ hàng</button>
            </div>
        </div>

        <h2>Sản phẩm bạn có thể quan tâm</h2>
        <div class="products-container-row">
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4 onclick="location.href = 'products_details'" style="cursor: pointer;">Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4>Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4>Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4>Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4>Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4>Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4>Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
            <div class="col-4-details">
                <img src="imgs/gachLatNen.jfif" alt="Gạch lát nền">
                <h4>Gạch Lát Nền</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>Liên hệ</p>
            </div>
        </div>
    </div>

    <script src="/js/product_galary.js"></script>
</div>