<div class="recruit">
    <div class="home-banner">
        <div class="home-banner-content"></div>
    </div>
    <div class="intro-content">
        <h2 class="title">Tuyển Dụng</h2>
        <div class="intro-content-it">
            <div class="intro-content-img"><img src="imgs/logo-new.jpg" alt="Hà Thịnh Phát"></div>
            <div class="intro-content-des">CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ HÀ THỊNH PHÁT</div>
            <div class="intro-content-it-top">
                <div class="intro-content-it-top-left">
                    <div class="intro-content-des-it">
                        <div class="intro-content-des-h1">Xin chân thành cảm ơn vì sự tin tưởng mà bạn đã dành cho công ty chúng tôi</div>
                        <div class="intro-content-des-h2">Hiện tại công ty đang trong giai đoạn hoàn thành về lực lượng nhân sự nên chúng tôi chưa có nhu cầu tuyển dụng tại thời điểm hiện tại, mọi thắc mắc xin liên hệ về địa chỉ Email của công ty: ducsontp@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>