<div class="footer">
    <div class="f-container">
        <div class="f-row">
            <div class="footer-col" style="flex: 0.4;">
                <h4>CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ TÂN TRÚC</h4>
                <ul class="f-ul">
                    <li><a
                            href="https://www.google.com/maps/place/207+D%C6%B0%C6%A1ng+Th%E1%BB%8B+M%C6%B0%E1%BB%9Di,+T%C3%A2n+Th%E1%BB%9Bi+Hi%E1%BB%87p,+Qu%E1%BA%ADn+12,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.863437,106.633344,16z/data=!4m5!3m4!1s0x317529f4210c098b:0xcc10a083deb9aa92!8m2!3d10.8634368!4d106.6333437?hl=vi">Địa
                            chỉ: Hà Nội </a></li>
                    <li><a href="/contact">Điện thoại: xxx-xxxx-xxx</a></li>
                    <li><a href="/">Website: tantruc.com</a></li>
                    <li><a href="/contact">Fax: xx xxxx xxx</a></li>
                    <li><a href="https://www.google.com/intl/vi/gmail/about/">Email: tantruc123@gmail.com</a></li>
                </ul>
            </div>
            <div class="footer-col" style="flex: 0.15;">
                <h4>SẢN PHẨM THỊNH HÀNH</h4>
                <ul class="f-ul">
                    <li><a href="/products">Gạch ốp tường</a></li>
                    <li><a href="/products">Gạch lát nền</a></li>
                    <li><a href="/products">Gạch sàn nước</a></li>
                    <li><a href="/products">Gạch trang trí</a></li>
                </ul>
            </div>
            <div class="footer-col" style="flex: 0.25;">
                <h4>© 2023 Bản quyền thuộc về Tân Trúc</h4>
                <ul class="f-ul">
                    <li><a href="https://www.hanu.vn/">Designed by @</a></li>
                </ul>
            </div>
            <div class="footer-col" style="flex: 0.20;">
                <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>